@import "responsive";

body::-webkit-scrollbar {
  background: none;
}

.modal-backdrop {
  display: none;
}

.modal {
  background: rgba(0, 0, 0, 0.9);
}

.positioncenter {
  margin: 0;
  position: absolute;
  left: 38%;
  @media #{$mobile_device} {
    left: 20%;
  }
}